body{
  background-color: rgb(68, 27, 37);
  color: rgb(238, 237, 184);
  font-family: 'Courier New', Courier, monospace;
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

img {
  margin-bottom: 1rem;
}

p {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}