* {
  -moz-window-dragging: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

/* 
justify-content: center;
align-items: center;
*/

body {
  background-color: rgb(48, 18, 23);
  color: rgb(238, 237, 184);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 6.5rem;
  margin-bottom: 5rem;
}

#title {
  position: sticky;
  top: 10%;
}

.header {
  background-color: coral;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
}

.eye {
  position:absolute;
  border: none;
  display: flex;

  right: 5vh;
  
  width: 6vh;
  height: 6vh;
  
  background-color: black;
  border-radius: 100% 100% 100% 100%;
}

p {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
  height:auto;
}

.resume{
  font-size: x-large;
  color: white;
}