* {
  -moz-window-dragging: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

/* 
justify-content: center;
align-items: center;
*/

body {
  background-color: black;
  color: rgb(238, 237, 184);
  font-family: 'Courier New', Courier, monospace;
  display: grid;
  place-items: center;
}

.old {
  background-color: rgb(48, 18, 23);
  position: absolute;
  top: 0;
  width: 75%;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
    .old {width: 100%;}
}

#title {
  position: sticky;
  left: 0;
  top: 10%;
  z-index: 10000;
}

.header {
  background-color: coral;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
}

.footer {
  background-color: coral;
  bottom: 0;
  left: 0;
  width: 100%;
}

.eye {
  position:absolute;
  border: none;
  display: flex;

  right: 5vh;
  
  width: 6vh;
  height: 6vh;
  
  background-color: black;
  border-radius: 100% 100% 100% 100%;
}

.eye:hover {
  cursor: pointer;
}

p {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
  height:auto;
}
