.links {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
    column-gap: 5vw;
    row-gap: 12.5vh;

    margin: auto;
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.links div {
    border: 3px solid coral;
    position: relative;

    padding: 1vh;

    background-image: url(../images/minecraft.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.links div::before {
    display: block;
    content: "";
    padding-bottom: 100%;
}

.links div a {
    color: rgb(238, 237, 184);
    font-size: x-large;
    text-decoration: none;
    position: absolute;
    left: 1vw;
    bottom: 1vh;
}

.links div a img {
    width: 100%;
}

/* bottom */

.side {
    border: 3px solid coral;
    width: 75%;
    display: flex;
}

.subimg {
    overflow: hidden;
    width: 40%;
    margin-left: auto; margin-right: auto;
}

.subimg img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.subimg:hover img {
    transform: scale(1.5);
}