.links {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
    column-gap: 5vw;
    row-gap: 12.5vh;

    margin: auto;
    margin-top: 15vh;
    margin-bottom: 7.5vh;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
    .links {grid-template-columns: repeat(auto-fill, minmax(20vh, 1fr));}
}

.links div {
    border: 3px solid coral;
    position: relative;

    padding: 1vh;

    background-image: url(../images/minecraft.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.links div::before {
    display: block;
    content: "";
    padding-bottom: 100%;
}

.links div a {
    color: rgb(238, 237, 184);
    font-size: x-large;
    text-decoration: none;
    position: absolute;
    left: 1vw;
    bottom: 1vh;
}

.links div a img {
    width: 100%;
}

/* bottom */

.side {
    padding: 4vh;
    /* overflow: hidden; */
}

.subimg {
    width: 15vw;
}

.subimg img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

@media only screen
  and (min-device-width : 280px)
  and (max-device-width : 480px){
    .subimg img {width: 200%;}
}

.subimg:hover img {
    transform: scale(1.3);
}


.first {
    margin-left: 10vw;
    margin-right: auto;
}

.bilbo {
    margin-left: auto;
    margin-right: 10vw;
}

.fadeLeft {
    animation: fadeLeft 1.5s both;
}

.fadeRight {
    animation: fadeRight 1.5s both;
}

@keyframes fadeLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}