.parallax {
    width: 100%;

    background-image: url('../images/minecraft.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;

    margin-top: 2vw;
    margin-bottom: 2vw;
}

.parallax::-webkit-scrollbar {
    display: none;
}

.group {
    position: relative;
    height: 35vh;
}

.baby {
    position: absolute;
    width: 50vw;
    max-width: 30%;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
    .baby {max-width: 100%;}
}