span {
    animation: typeLine 1s linear infinite;
}

@keyframes typeLine {
    50%{
        opacity: 0;
    }
}

b {
    color:rgb(178, 94, 199);
}

i {
    color: steelblue;
}

.quotes {
    background-color: coral;
    width: 75%;
}

#typewriter {
    margin-left: 1rem;
    font-size: 150%;
}

#author {
    font-size: 125%;
    margin-left: 50%;

    margin-bottom: 2rem;
}

#fuel {
    position: absolute;
    opacity: .5;
    width: 20%;
}

#fuel-link {
    text-decoration: underline;
}

#fuel-link:hover {

}