RewriteEngine On
AllowOverride All

RewriteRule ^html/(.+)$ /$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.+) /html/$1 [END]

ErrorDocument 404 "<H1>oh no! 404</H1>"
