RewriteEngine On
RewriteCond %{THE_REQUEST} \ /+(.*?/?)index\.(php|html?)
RewriteRule ^(.*)index\.(php|html?)$ /$1 [L,R=301]

DirectoryIndex index.html index.php

ErrorDocument 404 "<H1>oh no! 404</H1>"
